
section .categorias {
  background: white;
}
section .meusdados {
  background: white;
}
section .planos {
  background: white;
}
.jumbotron-with-background {
    background: linear-gradient(to right, orange, yellow);
}
section.pricing{
  background: #007bff;
  background:white;/*linear-gradient(to right, #45B39C, #33AEFF); Ativar para aefeito gradiente*/
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.5);
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 2rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
  background: #45B39C;
  border-color: #45B39C;
}

/* Hover Effects on Card */

@media (min-width: 720px) {
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    opacity: 1;
    background: #45B39C;
    border-color: #45B39C;
  }

  .divisao_hr {

    width:25%;
    margin-bottom:20px; 
  }
}